<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Transparent activity for push interactions 

        Notes: 
        * Using launchMode="singleTask" because Android OS does not launch activity again in one session, if the activity
        was launched recently from earlier notification.
        * launchMode="singleTop" does not work well with ACTIVITY_NO_FLAGS if customer app also has launchMode="singleTop"
        (e.g. Flutter apps) and have multiple instances launched from notifications in one session.

        -->
        <activity
            android:name=".activity.NotificationClickReceiverActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".CustomerIOFirebaseMessagingService"
            android:exported="false">
            <intent-filter android:priority="-10">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
        Broadcast receiver for listening to push events from GoogleCloudMessaging (GCM). The receiver
        listens to message broadcast emitted by Google Cloud APIs. Read class docs for more details.
        -->
        <receiver
            android:name=".CustomerIOCloudMessagingReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
    </queries>

</manifest>