<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.customer.messagingpush">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".CustomerIOFirebaseMessagingService"
            android:exported="false">
            <intent-filter android:priority="-1">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Action receiver for push interactions -->
        <receiver
            android:name=".CustomerIOPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.customer.messagingpush.PUSH_ACTION" />
            </intent-filter>
        </receiver>
        <!--
        Broadcast receiver for listening to push events from GoogleCloudMessaging (GCM). The receiver
        listens to message broadcast emitted by Google Cloud APIs. Read class docs for more details.
        -->
        <receiver
            android:name=".CustomerIOFirebaseMessagingReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
    </queries>

</manifest>