name: Binary-validation
# only run on PRs and when push a commit on a branch that we don't deploy on. 
on: [push, pull_request]

jobs:
  api_check:
    name: API check
    runs-on: ubuntu-18.04
    steps:
      - name: Check out code
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: API check
        run: ./gradlew apiCheck
