name: Reusable build sample apps workflow

on:
  workflow_call:
    inputs:
      use_latest_sdk_version:
        description: "Whether this workflow should build sample apps with latest SDK version or source code"
        type: boolean
        required: false
        default: false

jobs:
  build_sample_apps:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # if one sample app fails to build, let the other sample apps continue to build and not cancel them.
      matrix: # Use a matrix allowing us to build multiple apps in parallel. Just add an entry to the matrix and it will build!
        sample-app:
          # List all sample apps you want to have compiled.
          # List item is name of directory inside of "samples" directory for the corresponding app to compile.
          - "java_layout"
          - "kotlin_compose"
        include: # Add additional variables to each sample app build: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstrategymatrixinclude
          - sample-app: "java_layout"
            cio-workspace-name: "Mobile: Native iOS & Android"
            cio-cdpapikey-secret-key: "CUSTOMERIO_JAVA_WORKSPACE_CDP_API_KEY"
            cio-siteid-secret-key: "CUSTOMERIO_JAVA_WORKSPACE_SITE_ID"
            firebase-app-id-secret-key: "SAMPLE_APPS_JAVA_FIREBASE_APP_ID"
          - sample-app: "kotlin_compose"
            cio-workspace-name: "Mobile: xiOS CocoaPods FCM + Kotlin Android"
            cio-cdpapikey-secret-key: "CUSTOMERIO_KOTLIN_WORKSPACE_CDP_API_KEY"
            cio-siteid-secret-key: "CUSTOMERIO_KOTLIN_WORKSPACE_SITE_ID"
            firebase-app-id-secret-key: "SAMPLE_APPS_KOTLIN_FIREBASE_APP_ID"

    name: Building app...${{ matrix.sample-app }}
    permissions:
      pull-requests: write # comment on pull request with build information
    steps:
      - name: Check out code with conditional fetch-depth
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Workaround for bug https://github.com/actions/checkout/issues/1471

      - name: Set IS_PRIMARY_APP
        shell: bash
        run: |
          if [[ "${{ matrix.sample-app }}" == "java_layout" ]]; then
            echo "IS_PRIMARY_APP=true" >> $GITHUB_ENV
          else
            echo "IS_PRIMARY_APP=false" >> $GITHUB_ENV
          fi

      - name: Set Default Firebase Distribution Groups
        shell: bash
        env:
          # Distribution group constants
          ALL_BUILDS_GROUP: all-builds
          FEATURE_BUILDS_GROUP: feature-branch
          NEXT_BUILDS_GROUP: next
          PUBLIC_BUILDS_GROUP: public
          # Input variables
          CURRENT_BRANCH: ${{ github.ref }}
          USE_LATEST_SDK_VERSION: ${{ inputs.use_latest_sdk_version }}
        run: |
          # Initialize with the default distribution group
          distribution_groups=("$ALL_BUILDS_GROUP")
          
          # Append distribution groups based on branch and context if the app is primary
          if [[ "$IS_PRIMARY_APP" == "true" ]]; then
            [[ "$CURRENT_BRANCH" == "refs/heads/feature/"* ]] && distribution_groups+=("$FEATURE_BUILDS_GROUP")
            [[ "$CURRENT_BRANCH" == "refs/heads/main" ]] && distribution_groups+=("$NEXT_BUILDS_GROUP")
            [[ "$USE_LATEST_SDK_VERSION" == "true" ]] && distribution_groups+=("$PUBLIC_BUILDS_GROUP")
          fi
          
          # Export the groups as an environment variable
          echo "firebase_distribution_groups=$(IFS=','; echo "${distribution_groups[*]}")" >> $GITHUB_ENV

      - uses: ./.github/actions/setup-android

      # CLI to replace strings in files. The CLI recommends using `cargo install` which is slow. This Action is fast because it downloads pre-built binaries.
      # If using sd on macos, "brew install" works great. for Linux, this is the recommended way.
      - name: Install sd CLI to use later in the workflow
        uses: kenji-miyake/setup-sd@f4181660873fa5814708e1c0a640d8e9975a4ae5 # v2.0.0

      - name: Install tools from Gemfile (ruby language) used for building our apps with
        uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1.229.0
        with:
          ruby-version: '3.0'
          bundler-cache: true # cache tools to make builds faster in future

      - name: Capture Git Context
        shell: bash
        id: git-context
        run: |
          echo "BRANCH_NAME=${{ github.head_ref || github.ref_name }}" >> $GITHUB_ENV
          COMMIT_HASH="${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}"
          echo "COMMIT_HASH=${COMMIT_HASH:0:7}" >> $GITHUB_ENV
          echo "LATEST_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV

      - name: Setup local.properties file for sample app
        run: |
          LOCAL_PROPS_FILE="samples/local.properties"
          touch "$LOCAL_PROPS_FILE"
          echo "cdpApiKey=${{ secrets[matrix.cio-cdpapikey-secret-key] }}" >> "$LOCAL_PROPS_FILE"
          echo "siteId=${{ secrets[matrix.cio-siteid-secret-key] }}" >> "$LOCAL_PROPS_FILE"
          echo "workspace=${{ matrix.cio-workspace-name }}" >> "$LOCAL_PROPS_FILE"
          echo "branchName=${{ env.BRANCH_NAME }}" >> "$LOCAL_PROPS_FILE"
          echo "commitHash=${{ env.COMMIT_HASH }}" >> "$LOCAL_PROPS_FILE"
          LAST_TAG="${LATEST_TAG:-untagged}"
          COMMITS_AHEAD=$(git rev-list $LAST_TAG..HEAD --count 2>/dev/null || echo "untracked")
          echo "commitsAheadCount=$COMMITS_AHEAD" >> "$LOCAL_PROPS_FILE"
          if [[ "${{ inputs.use_latest_sdk_version }}" == "true" ]]; then
            echo "sdkVersion=${{ env.LATEST_TAG }}" >> "$LOCAL_PROPS_FILE"
          fi

      - name: Dump GitHub Action metadata because Fastlane uses it. Viewing it here helps debug JSON parsing code in Firebase.
        run: cat $GITHUB_EVENT_PATH

      - name: Prepare Fastlane Build Arguments
        run: |
          if [ "${{ inputs.use_latest_sdk_version }}" = "true" ]; then
            sdk_version="\"sdk_version\":\"${{ env.LATEST_TAG }}\""
          else
            sdk_version=""
          fi
          
          distribution_groups="\"distribution_groups\":\"${{ env.firebase_distribution_groups }}\""
          
          # Construct the fastlane-build-args JSON
          if [ -n "$sdk_version" ]; then
            fastlane_build_args="{${sdk_version},${distribution_groups}}"
          else
            fastlane_build_args="{${distribution_groups}}"
          fi
          
          echo "fastlane_build_args=$fastlane_build_args" >> $GITHUB_ENV

      - name: Deploy build via Fastlane
        if: ${{ ! (inputs.use_latest_sdk_version == true && matrix.sample-app == 'kotlin_compose') }}
        uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
        with:
          lane: ${{ inputs.use_latest_sdk_version == true && 'android build_sample_app_for_sdk_release' || 'android build' }}
          subdirectory: "samples/${{ matrix.sample-app }}"
          options: ${{ env.fastlane_build_args }}
        env:
          ANDROID_SIGNING_ALIAS: ${{ secrets.ANDROID_SIGNING_ALIAS }}
          ANDROID_SIGNING_KEY_PASSWORD: ${{ secrets.ANDROID_SIGNING_KEY_PASSWORD }}
          ANDROID_SIGNING_STORE_PASSWORD: ${{ secrets.ANDROID_SIGNING_STORE_PASSWORD }}
          FIREBASE_APP_DISTRIBUTION_SERVICE_ACCOUNT_CREDS_B64: ${{ secrets.FIREBASE_APP_DISTRIBUTION_SERVICE_ACCOUNT_CREDS_B64 }}

      - name: Determine SDK Version
        shell: bash
        id: determine-sdk-version
        run: |
          sdk_version="${{ env.SDK_VERSION }}"
          sdk_version="${sdk_version:-$LATEST_TAG}"
          echo "SDK Version used in app build: $sdk_version"
          echo "APP_SDK_BUILD_VERSION=$sdk_version" >> $GITHUB_ENV

      - name: Send Slack Notification for Sample App Builds
        if: ${{ always() && env.IS_PRIMARY_APP == 'true' }}
        uses: customerio/mobile-ci-tools/github-actions/slack-notify-sample-app/v1@main
        with:
          build_status: ${{ job.status }}
          app_icon_emoji: ":android:"
          app_name: "Android Native"
          firebase_app_id: ${{ secrets[matrix.firebase-app-id-secret-key] }}
          firebase_distribution_groups: ${{ env.firebase_distribution_groups }}
          git_context: "${{ env.BRANCH_NAME }} (${{ env.COMMIT_HASH }})"
          icon_url: "https://media.pocketgamer.com/artwork/na-qulrguj/android.jpg"
          instructions_guide_link: ${{ secrets.SAMPLE_APPS_INSTRUCTIONS_GUIDE_LINK }}
          platform: "android"
          sdk_name: "Android Native SDK"
          sdk_version: ${{ env.APP_SDK_BUILD_VERSION }}
          slack_webhook_url: ${{ secrets.SLACK_NOTIFY_RELEASES_WEBHOOK_URL }}

      - name: Update sample builds PR comment with build information
        if: ${{ github.event_name == 'pull_request' }}
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        with:
          comment-id: ${{ needs.update-pr-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          # the variables APP_BUILD_NUMBER, APP_VERSION_STRING are created when fastlane runs "build".
          body: |
            * ${{ matrix.sample-app }}: `${{ env.APP_VERSION_STRING }} (${{ env.APP_BUILD_NUMBER }})`
          edit-mode: append # append new line to the existing PR comment to build a list of all sample app builds.

      - name: Update sample builds PR comment with build failure message
        if: ${{ failure() }}
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        with:
          comment-id: ${{ needs.update-pr-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            * ${{ matrix.sample-app }}: Build failed. See [CI job logs](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}) to determine the issue and try re-building.
          edit-mode: append # append new line to the existing PR comment to build a list of all sample app builds.
