name: Tests

on: [push, pull_request]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [sdk, messagingpush, messaginginapp, base]
    name: Unit tests (${{ matrix.module }})
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11' # Robolectric requires v9, but we choose LTS: https://adoptopenjdk.net/
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Run unit tests (${{ matrix.module }})
      run: ./gradlew :${{ matrix.module }}:runJacocoTestReport
    
    - name: Upload code coverage report 
      uses: codecov/codecov-action@v2
      with: 
        token: ${{ secrets.CODECOV_UPLOAD_TOKEN }} # not required for public repos, but sometimes uploads fail without it so include it anyway
        fail_ci_if_error: true # fail if upload fails so we can catch it and fix it right away. 
        verbose: true 
        files: ./${{ matrix.module }}/build/reports/jacoco/test/jacocoTestReport.xml,./${{ matrix.module }}/build/reports/jacoco/runJacocoTestReport/runJacocoTestReport.xml        

    - name: Publish test results (${{ matrix.module }})
      uses: mikepenz/action-junit-report@v2      
      with:
        report_paths: '**/build/test-results/test*/TEST-*.xml'
        fail_on_failure: true 
        require_tests: true 
      if: ${{ always() }} # if running tests fails, we still want to parse the test results 

